.text_text__tVl7E {
  font-family: var(--font-sans);
  font-size: var(--size);
  margin: var(--geist-gap) 0;
}
.text_text__tVl7E.text_code__vgfuU {
  font-family: var(--font-mono);
}
.text_text__tVl7E.text_noMargin__uy__0 {
  margin: 0;
}
.text_text__tVl7E.text_center__uKEGZ {
  text-align: center;
}
.text_text__tVl7E.text_themed__eHOst {
  color: var(--themed-fg);
}
.text_h1__20DJU {
  --size: 4.5rem;
  --size-t: 4rem;
  --size-m: 2.5rem;
  line-height: 1.01em;
  font-weight: 800;
  letter-spacing: -0.049375rem;
}
.text_h2__V8zux {
  --size: 3.5rem;
  --size-t: 3rem;
  --size-m: 2rem;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: -0.049375rem;
}
.text_h3__rOvvh {
  --size: 2.5rem;
  --size-t: 2rem;
  --size-m: 1.75rem;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: -0.029375rem;
}
.text_h4__OMcDv {
  --size: 2rem;
  --size-t: 1.25rem;
  --size-m: 1rem;
  font-weight: 400;
  font-weight: 600;
  letter-spacing: -0.020625rem;
}
.text_h5__D8xnp {
  --size: 1.5rem;
  --size-t: 1.25rem;
  --size-m: 1rem;
  font-weight: 600;
  line-height: 1.41em;
  letter-spacing: -0.01125rem;
}
.text_h6__jCB0c {
  --size: 1rem;
  --size-t: 1rem;
  --size-m: 1rem;
  font-weight: 600;
  letter-spacing: -0.005625rem;
}
.text_p__fjUxc {
  --size: 1.25rem;
  --size-t: 1rem;
  --size-m: 1rem;
  line-height: 1.5em;
}
.text_small__ke4_O {
  --size: 1rem;
  line-height: 1.5em;
}
.text_description__z5ZiU {
  text-transform: uppercase;
  --size: 12px;
  color: var(--accents-5);
}
.text_xsmall__BJV1U {
  --size: 0.875rem;
}
.text_xlarge__Ibjin {
  line-height: 1.01em;
  letter-spacing: -0.049375rem;
  --size: 5.5rem;
  --size-t: 4.5rem;
  --size-m: 3rem;
}
@media (max-width: 960px) {
  .text_text__tVl7E {
    font-size: var(--size-t);
  }
  .text_text__tVl7E.text_text-constant-size__TlO1K {
    font-size: var(--size);
  }
}
@media (max-width: 600px) {
  .text_text__tVl7E {
    font-size: var(--size-m);
  }
  .text_text__tVl7E.text_text-constant-size__TlO1K {
    font-size: var(--size);
  }
}
.tiny-heading_heading__4Znu5 {
  text-align: center;
  margin-bottom: var(--geist-gap-double);
}
.tiny-heading_heading__4Znu5.tiny-heading_small-margin__qfAPz {
  margin-bottom: var(--geist-gap);
}
.list_geist-list__ah0aB {
  display: flex;
  flex-wrap: wrap;
  margin: var(--geist-gap-half-negative);
  box-sizing: border-box;
}
.list_geist-list-halfGap__AFz1J {
  margin: var(--geist-gap-quarter-negative);
}
.list_geist-list-doubleGap__PPNi_ {
  margin: var(--geist-gap-negative);
}
.list_geistListItem__82_ac {
  flex-grow: 0;
  min-width: 0;
}
.list_geist-list__ah0aB > .list_geistListItem__82_ac {
  padding: var(--geist-gap-half);
  flex-grow: 0;
  min-width: 0;
}
.list_geist-list__ah0aB > .list_geistListItem-halfGap__DjDsk {
  padding: var(--geist-gap-quarter);
}
.list_geist-list__ah0aB > .list_geistListItem-doubleGap__wjDDW {
  padding: var(--geist-gap);
}
.animated-gradient-text_background__OCnk0 {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.animated-gradient-text_background-1__c2kfC:before {
  -webkit-animation: animated-gradient-text_fade-background-1__ptIFS 8s infinite;
  animation: animated-gradient-text_fade-background-1__ptIFS 8s infinite;
}
.animated-gradient-text_foreground-1__gqHrR {
  -webkit-animation: animated-gradient-text_fade-foreground-1__efWVr 8s infinite;
  animation: animated-gradient-text_fade-foreground-1__efWVr 8s infinite;
}
.animated-gradient-text_background-2__OQEIi:before {
  -webkit-animation: animated-gradient-text_fade-background-2__e8Hk7 8s infinite;
  animation: animated-gradient-text_fade-background-2__e8Hk7 8s infinite;
}
.animated-gradient-text_foreground-2__B4oIZ {
  -webkit-animation: animated-gradient-text_fade-foreground-2__sYrlF 8s infinite;
  animation: animated-gradient-text_fade-foreground-2__sYrlF 8s infinite;
}
.animated-gradient-text_background-3__iyrbU:before {
  -webkit-animation: animated-gradient-text_fade-background-3__NTKrh 8s infinite;
  animation: animated-gradient-text_fade-background-3__NTKrh 8s infinite;
}
.animated-gradient-text_foreground-3__kum5b {
  -webkit-animation: animated-gradient-text_fade-foreground-3__Hg4NE 8s infinite;
  animation: animated-gradient-text_fade-foreground-3__Hg4NE 8s infinite;
}
.stop-hero-animation .animated-gradient-text_background__OCnk0,
.stop-hero-animation .animated-gradient-text_background__OCnk0:before,
.stop-hero-animation .animated-gradient-text_foreground__kb6tN {
  -webkit-animation: none !important;
  animation: none !important;
}
.animated-gradient-text_foreground__kb6tN {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: var(--padding);
  padding-right: var(--padding);
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
  position: relative;
  z-index: 1;
}
.animated-gradient-text_background__OCnk0:before {
  content: var(--content);
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  color: var(--geist-foreground);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding-left: var(--padding);
  padding-right: var(--padding);
}
@-webkit-keyframes animated-gradient-text_fade-foreground-1__efWVr {
  0%,
  16.667%,
  to {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}
@keyframes animated-gradient-text_fade-foreground-1__efWVr {
  0%,
  16.667%,
  to {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}
@-webkit-keyframes animated-gradient-text_fade-background-1__ptIFS {
  0%,
  16.667%,
  to {
    opacity: 0;
  }
  25%,
  91.667% {
    opacity: 1;
  }
}
@keyframes animated-gradient-text_fade-background-1__ptIFS {
  0%,
  16.667%,
  to {
    opacity: 0;
  }
  25%,
  91.667% {
    opacity: 1;
  }
}
@-webkit-keyframes animated-gradient-text_fade-foreground-2__sYrlF {
  0%,
  to {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}
@keyframes animated-gradient-text_fade-foreground-2__sYrlF {
  0%,
  to {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}
@-webkit-keyframes animated-gradient-text_fade-background-2__e8Hk7 {
  0%,
  to {
    opacity: 1;
  }
  33.333%,
  50% {
    opacity: 0;
  }
  25%,
  58.333% {
    opacity: 1;
  }
}
@keyframes animated-gradient-text_fade-background-2__e8Hk7 {
  0%,
  to {
    opacity: 1;
  }
  33.333%,
  50% {
    opacity: 0;
  }
  25%,
  58.333% {
    opacity: 1;
  }
}
@-webkit-keyframes animated-gradient-text_fade-foreground-3__Hg4NE {
  0%,
  50%,
  to {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
@keyframes animated-gradient-text_fade-foreground-3__Hg4NE {
  0%,
  50%,
  to {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
@-webkit-keyframes animated-gradient-text_fade-background-3__NTKrh {
  0%,
  58.333%,
  91.667%,
  to {
    opacity: 1;
  }
  66.667%,
  83.333% {
    opacity: 0;
  }
}
@keyframes animated-gradient-text_fade-background-3__NTKrh {
  0%,
  58.333%,
  91.667%,
  to {
    opacity: 1;
  }
  66.667%,
  83.333% {
    opacity: 0;
  }
}
.hero_texts__X6GcB {
  padding: 3.5rem 0;
}
.hero_bottom__rxurc {
  text-align: center;
  margin-bottom: var(--geist-gap-double);
}
.hero_title__HaAVy {
  text-align: center;
  font-size: 8rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.06em;
  margin: 0 0 var(--geist-space-16x);
}
.hero_description__IXY_z {
  line-height: 1.6em !important;
  color: var(--geist-secondary);
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  text-align: center;
  margin: var(--geist-gap-quarter) 0 var(--geist-space-16x);
}
.hero_buttons__nST_h {
  max-width: 26rem;
  margin: 0 auto var(--geist-space-16x);
}
.hero_description-break__u_niN {
  display: none;
}
@media (min-width: 1200px) {
  .hero_title__HaAVy {
    font-size: 10rem;
  }
}
@media (min-width: 1024px) {
  .hero_description-break__u_niN {
    display: inline;
  }
}
@media (max-width: 720px) {
  .hero_title__HaAVy {
    font-size: 23vw;
  }
}
.section-label_label__IXpQ5 {
  text-align: center;
  margin-bottom: var(--geist-space-4x);
}
.section-label_number__DaHTx {
  display: inline-flex;
  border-radius: 100%;
  color: var(--geist-background);
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-bottom: var(--geist-gap);
  background: linear-gradient(90deg, var(--start-color), var(--end-color));
}
.section-label_text__OTARC {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: var(--padding);
  padding-right: var(--padding);
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
}
.section-label_heading__yw8wN {
  font-size: 2rem;
  letter-spacing: -0.05em;
  margin: 0;
  font-weight: 700;
}
.text-link_link__OUsK1 {
  color: var(--color);
  transition-duration: 0.2s;
  transition-property: color;
}
.text-link_linkWrapper__4HKRu:focus .text-link_link__OUsK1 {
  color: var(--geist-foreground) !important;
}
@media (hover: hover) {
  .text-link_link__OUsK1:hover {
    color: var(--geist-foreground);
  }
}
.text-link_bold__q4nSB {
  font-weight: 700;
}
.small-heading_heading__p_5qt {
  font-size: 1.5rem;
  letter-spacing: -0.05em;
  margin: 0 0 var(--geist-gap-half);
}
.paragraph_paragraph__w5Ihr {
  line-height: 1.6;
  letter-spacing: -0.02em;
  margin: 0;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}
.paragraph_paragraph__w5Ihr.paragraph_medium__scOzi {
  font-weight: 400;
}
.paragraph_paragraph__w5Ihr.paragraph_centered__PuxGB {
  text-align: center;
}
.paragraph_paragraph__w5Ihr.paragraph_secondary__6GKTk {
  color: var(--geist-secondary);
}
.paragraph_paragraph__w5Ihr.paragraph_small__6RhoL {
  font-size: 0.875rem;
}
.frameworks_frameworks__qyJlD {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--geist-space-16x);
}
.frameworks_frameworks__qyJlD > * {
  margin: var(--geist-gap-half) calc(1.5 * var(--geist-gap-half));
}
.window_window__nPem7 {
  max-width: 100%;
  color: var(--geist-foreground);
  position: relative;
  border-radius: var(--geist-radius);
  background: var(--geist-background);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.window_traffic__9L252 {
  display: none;
  margin-left: var(--geist-gap-half);
}
.window_traffic__9L252.window_show__Snn5B {
  display: block;
}
.window_header__di2AB {
  width: 100%;
  flex-basis: var(--header-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--accents-2);
}
.window_body__q6WE4 {
  flex: 1 1;
  width: 100%;
  overflow: auto;
}
.window_body__q6WE4.window_padding__3MsDL {
  padding-top: var(--geist-gap-half);
}
.window_body__q6WE4.window_noScroll___zVR3 {
  overflow: hidden;
}
.window_icon__EYnci {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.window_icon__EYnci + .window_icon__EYnci {
  margin-left: 8px;
}
.window_close__aNPvd {
  background-color: #ff5f56;
}
.window_minimize___N9Y2 {
  background-color: #ffbd2e;
}
.window_fullScreen__7p1Uw {
  background-color: #27c93f;
}
.window_title__TBsus {
  color: var(--accents-5);
  justify-content: center;
}
.window_title-right__VRE5s,
.window_title__TBsus {
  position: absolute;
  width: 100%;
  height: var(--header-height);
  left: 0;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.window_title-right__VRE5s {
  font-weight: 700;
  justify-content: flex-end;
  padding-right: var(--geist-space-4x);
}
.window_caret__4PhCD {
  background: var(--geist-success);
  display: inline-block;
  width: 7px;
  height: 15px;
  position: relative;
  bottom: 1px;
  vertical-align: middle;
}
.window_caret__4PhCD.window_mini__zQxqU {
  width: 6px;
  height: 11px;
}
.window_caret__4PhCD.window_blink__lRrDb {
  -webkit-animation: window_blink__lRrDb 1s ease infinite;
  animation: window_blink__lRrDb 1s ease infinite;
}
@-webkit-keyframes window_blink__lRrDb {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes window_blink__lRrDb {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.window_triangle__GJTzN {
  color: var(--geist-foreground);
}
.window_prompt__DL_1h {
  color: var(--accents-5);
}
.browser_bar__sQFUy {
  flex: 1 1;
  color: var(--geist-foreground);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.browser_spacer__OZa_W {
  flex-basis: 140px;
  flex-shrink: 0;
}
.browser_input__kFSIO {
  flex: 1 1;
  background: var(--accents-1);
  border-radius: 3px;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--geist-gap-half);
  position: relative;
}
.browser_url__Ds_5s {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.browser_url__Ds_5s svg {
  vertical-align: middle;
}
.browser_url-disabled__zkDhC,
.browser_url__Ds_5s a {
  white-space: nowrap;
  line-height: 1.25rem;
  font-size: 0.75rem;
  flex: 1 1;
  margin: 0 var(--geist-gap-quarter);
  max-width: 100%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.browser_lock__3xx5w {
  color: var(--geist-cyan-dark);
}
.browser_lock-placeholder__HDuhY {
  display: inline-flex;
  width: 12px;
}
.browser_bar__sQFUy i {
  display: inline-flex;
}
.browser_refresh__QF4aN {
  flex-shrink: 0;
}
@media (max-width: 600px) {
  .browser_spacer__OZa_W {
    flex-basis: 80px;
  }
  .browser_spacer__OZa_W.browser_end__6Fr_7 {
    flex-basis: var(--geist-gap-half);
  }
  .browser_input__kFSIO {
    flex: 1 1;
    overflow: hidden;
  }
}
.window-with-tabs_tabs-wrapper__0ClZL {
  display: flex;
  left: 80px;
  position: absolute;
  bottom: -1px;
}
.window-with-tabs_tab__ewp2U {
  display: inline-flex;
  padding: 10px 20px;
  border: 1px solid transparent;
}
.window-with-tabs_active__0fOLV {
  border-top-left-radius: var(--geist-radius);
  border-top-right-radius: var(--geist-radius);
  border-bottom: 1px solid var(--accents-2);
  border: 1px solid var(--accents-2);
  border-bottom-color: var(--geist-background);
  background: var(--geist-background);
}
.token_token-k__aHtIz {
  font-weight: 700;
}
.token_token-n__5D_E6 {
  color: var(--develop-color);
  font-weight: 700;
}
.token_token-c__BZnMR {
  color: var(--geist-secondary);
}
.cursor_cursor__LdXXx {
  display: inline-flex;
  border-right: 2px solid var(--accents-3);
  height: 21px;
  line-height: 21px;
  position: absolute;
  transform: translateX(-1px);
}
.editor_editor__AW64M {
  height: 100%;
  display: flex;
  font-family: var(--font-mono);
  font-size: 15px;
  white-space: pre;
  line-height: 24px;
}
.editor_lines-background__UkMje {
  background: var(--accents-1);
  padding: var(--geist-gap-half) 6px;
  text-align: right;
  color: var(--accents-3);
}
.editor_lines__SmCes {
  width: 12px;
}
.editor_editor-main__77bnv {
  padding: var(--geist-gap-half);
}
@media (max-width: 480px) {
  .editor_editor__AW64M {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 400px) {
  .editor_editor__AW64M {
    font-size: 13px;
  }
}
@media (max-width: 360px) {
  .editor_editor__AW64M {
    font-size: 12px;
  }
}
.commerce-graphic_header__QKZ2x,
.commerce-graphic_placeholder__A3toX,
.commerce-graphic_product___mYRm {
  opacity: 0;
  transition: opacity 1s ease;
}
.commerce-graphic_header-visible__J8WA8,
.commerce-graphic_placeholder-visible__FfHJC,
.commerce-graphic_product-visible__9sO52 {
  opacity: 1;
}
.develop-demo_develop-demo__jAkJF {
  display: grid;
  width: calc(
    var(--geist-page-width-with-margin) + var(--geist-gap-double) * 2
  );
  padding-left: var(--geist-page-margin);
  padding-right: var(--geist-page-margin);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.develop-demo_benefits__krXHf {
  margin-bottom: var(--geist-gap);
}
.develop-demo_benefits-item__eGxiu {
  margin-bottom: var(--geist-space-16x);
  text-align: center;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.develop-demo_editor__N8Hag {
  max-width: 100%;
}
.develop-demo_windows__iC9UA {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
}
.develop-demo_browser__e2I9d {
  max-width: 100%;
  position: relative;
  z-index: 1;
  top: -110px;
}
@media (min-width: 480px) {
  .develop-demo_editor__N8Hag {
    max-width: 90%;
  }
  .develop-demo_browser__e2I9d {
    max-width: 90%;
    left: 10%;
  }
}
@media (min-width: 950px) {
  .develop-demo_develop-demo__jAkJF {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .develop-demo_benefits__krXHf {
    padding-left: var(--geist-space-16x);
    padding-right: var(--geist-gap-double);
  }
  .develop-demo_benefits-item__eGxiu {
    text-align: left;
  }
}
.path-line_line__C6T5U {
  width: 1px;
  align-self: center;
}
.path-line_line__C6T5U.path-line_stretch__j13md {
  flex: 1 1;
}
.path-line_line__C6T5U.path-line_gradient__sKfKk {
  background: linear-gradient(var(--start-color), var(--end-color));
  padding-right: 1px;
}
.path-line_line__C6T5U.path-line_dotted__ihamV {
  border-right: 1px dashed var(--dotted-color);
}
.section-title_title__VEDfK {
  text-align: center;
  margin: 0 0 var(--geist-gap);
  padding-bottom: var(--geist-gap-half);
  font-weight: 700;
  letter-spacing: -0.05em;
  font-size: 3.75rem;
}
@media (max-width: 599px) {
  .section-title_title__VEDfK {
    font-size: 2.5rem;
  }
}
.section-description_wrapper__VqXHw {
  padding-bottom: var(--geist-gap-quarter);
  margin-bottom: var(--geist-space-16x);
}
.section-description_wrapper__VqXHw.section-description_noMargin__j2gJx {
  margin-bottom: 0;
}
.section-description_one-col__gL9fb {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.section-description_one-col__gL9fb.section-description_alignLeft__jxn9u {
  text-align: left;
}
.section-description_two-col__tXHxl {
  margin-top: var(--geist-gap-half);
  padding-top: var(--geist-gap-half);
}
.path-circle_circle__CzQnd {
  width: 11px;
  height: 11px;
  box-shadow: 0 0 0 1.5px var(--accents-3) inset;
  border-radius: 50%;
}
.preview-item_wrapper__CTIrc {
  display: flex;
  align-items: top;
  width: 100%;
}
.preview-item_graphic-column__cvBZN {
  flex: 1 1;
}
.preview-item_graphic-column-inner__ZHTgI {
  padding-right: var(--geist-space-16x);
}
.preview-item_descriptions-column__12_CY {
  flex: 1 1;
}
.preview-item_descriptions-column-inner__1Yl7G {
  padding-left: calc(var(--geist-space-16x) - 5px);
  padding-right: var(--geist-gap-double);
  margin-top: var(--geist-space-gap-quarter-negative);
  padding-bottom: var(--geist-space-64x);
  margin-bottom: var(--geist-gap);
}
.preview-item_descriptions-column-inner__1Yl7G.preview-item_last-item__CnEuU {
  margin-bottom: var(--geist-space-24x);
}
.preview-item_line-column__EjniW {
  display: flex;
  flex-direction: column;
}
.preview-item_descriptions-body__ZaKA5 {
  color: var(--accents-5);
}
@media (max-width: 959px) {
  .preview-item_wrapper__CTIrc {
    flex-direction: column;
  }
  .preview-item_line-column__EjniW {
    order: 0;
    align-items: center;
    height: 100px;
  }
  .preview-item_graphic-column__cvBZN {
    order: 2;
    padding-bottom: var(--geist-gap-double);
  }
  .preview-item_descriptions-column-inner__1Yl7G {
    width: 480px;
    max-width: 100%;
    text-align: center;
    padding: var(--geist-gap);
    margin: auto;
  }
  .preview-item_graphic-column-inner__ZHTgI {
    width: 480px;
    max-width: 100%;
    margin: auto;
    padding-right: 0;
  }
  .preview-item_descriptions-column-inner__1Yl7G.preview-item_last-item__CnEuU {
    padding: var(--geist-gap) 0;
    margin-bottom: var(--geist-gap);
  }
}
.preview-comment_preview-comment__ACNxL {
  border-radius: var(--geist-radius);
  box-shadow: var(--shadow-large);
  letter-spacing: -0.02em;
  font-size: 0.875rem;
  line-height: 1.4;
}
.preview-comment_comment-header__AFKUK {
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.02), 0 0 8px rgba(0, 0, 0, 0.03),
    0 1px 0 rgba(0, 0, 0, 0.05);
  padding: var(--geist-gap-half) var(--geist-space-4x);
  display: flex;
  align-items: center;
}
.preview-comment_comment-bot__fThqc {
  display: inline-flex;
  padding: 0.3rem var(--geist-gap-half);
  background: var(--accents-2);
  font-size: 0.875rem;
  border-radius: var(--geist-radius);
  margin: 0 var(--geist-gap-quarter);
}
.preview-comment_comment-timestamp__NHSyk {
  font-weight: 500;
  color: var(--geist-secondary);
}
.preview-comment_comment-body__r3L5c {
  padding: var(--geist-space-4x) var(--geist-space-4x) var(--geist-gap);
}
.preview-comment_comment-text__PV9gp {
  margin-bottom: var(--geist-gap-half);
  color: var(--geist-secondary);
}
.preview-comment_comment-links__txubR {
  line-height: 1.8;
}
.preview-comment_comment-link__rV6OP {
  color: var(--geist-success);
  text-decoration: underline;
}
.preview-messages_message-item__VRXvc {
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-bottom: var(--geist-gap);
  justify-content: flex-end;
}
.preview-messages_message-content__hQDoC {
  margin-right: var(--geist-space-4x);
  letter-spacing: -0.02em;
  line-height: 1.4;
}
.preview-messages_message-avatar___1_tR {
  margin-bottom: 1.65rem;
}
.preview-messages_message-bubble__JSB9K {
  position: relative;
  border-radius: 1rem;
  padding: var(--geist-gap-half) var(--geist-space-4x);
  background: var(--geist-success);
  color: #fff;
  margin-bottom: var(--geist-gap-quarter);
}
.preview-messages_message-bubble__JSB9K:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: inherit;
  border-bottom-left-radius: 15px;
}
.preview-messages_message-bubble__JSB9K:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 21px;
  background: var(--geist-background);
  border-bottom-left-radius: 10px;
}
.preview-messages_message-name__W17xi {
  text-align: right;
  font-size: 0.875rem;
  color: var(--accents-5);
}
.preview-messages_url__3bDM9 {
  font-weight: 600;
}
.preview-messages_message-bubble__JSB9K.preview-messages_green-background___lHXP {
  background: #22cc52;
}
.preview-push_preview-push__Pl8uA {
  font-family: var(--font-mono);
  padding-left: var(--geist-gap-half);
}
.preview-push_prompt__4az6h {
  color: var(--geist-secondary);
}
.preview-push_cursor__HwKJT {
  width: 10px;
  display: inline-block;
  height: 1.25rem;
  margin-left: 0.2rem;
  transform: translateY(0.2rem);
  background: var(--geist-highlight-pink);
}
.preview-section_preview-section__cd0g6 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: calc(
    var(--geist-page-width-with-margin) + var(--geist-gap-double) * 2
  );
  padding-left: var(--geist-page-margin);
  padding-right: var(--geist-page-margin);
}
.preview-section_graphic-wrapper__BGLBl {
  transform: translateY(-50%);
}
.preview-section_graphics-messages-wrapper__ylauO {
  transform: translateY(-10%);
}
@media (max-width: 959px) {
  .preview-section_graphic-wrapper__BGLBl,
  .preview-section_graphics-messages-wrapper__ylauO {
    transform: none;
  }
}
.graphic_graphic-wrapper__8t90S {
  overflow: hidden;
  margin-top: var(--geist-space-16x-negative);
}
.graphic_graphic__a7w7i {
  margin-top: var(--geist-space-16x);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  background-image: var(--background-url);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: var(--geist-space-16x);
  min-height: 350px;
}
.graphic_globe__VXOAT {
  bottom: 0;
  position: absolute;
  z-index: 0;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.5s ease 0.5s;
  width: 1100px;
  height: 440px;
  max-width: 100vw !important;
  max-height: 40vw !important;
  contain: layout paint size;
}
.graphic_globe__VXOAT.graphic_ready__WXjbx {
  opacity: 1;
}
.graphic_globe__VXOAT canvas {
  outline: none;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.graphic_globe__VXOAT video {
  max-width: 100%;
  transform: translateY(-59%);
  pointer-events: none;
  filter: invert(1);
}
.dark-theme .graphic_globe__VXOAT video {
  filter: unset;
}
@media (max-width: 960px) {
  .graphic_graphic__a7w7i {
    min-height: 40vw;
  }
}
.ship-section_stats__UvmpB {
  background: var(--accents-1);
  border-top: 1px solid var(--accents-2);
  border-bottom: 1px solid var(--accents-2);
}
.note_note__PDfwr {
  padding: 7px var(--geist-gap-half);
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: var(--geist-gap-half);
  gap: var(--geist-gap-half);
  min-height: var(--geist-form-height);
  border-radius: var(--geist-radius);
  color: var(--themed-fg);
  background: var(--themed-bg);
  border: 1px solid var(--themed-border, var(--accents-2));
  font-size: 14px;
  line-height: 24px;
  word-break: break-word;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .note_note__PDfwr {
    flex-direction: column;
    align-items: flex-start;
  }
}
.note_fill__VZ_Hv {
  color: var(--themed-fg, var(--geist-background));
  background: var(--themed-bg, var(--geist-foreground));
  border: 1px solid var(--themed-border, var(--geist-foreground));
}
.note_small__OV67c {
  padding: 3px var(--geist-gap-half);
  min-height: var(--geist-form-small-height);
}
.note_large__oyXAD {
  padding: 11px var(--geist-gap-half);
  min-height: var(--geist-form-large-height);
  font-size: var(--geist-form-large-font);
}
.note_center__SOEsX {
  text-align: center;
}
.get-started_wrapper__4ScHM {
  max-width: 100%;
  margin: 0 auto;
  padding: var(--geist-space-16x) var(--geist-page-margin) var(--geist-space-8x);
}
.slider_sliderContainer__FrC_N {
  overflow: hidden;
  white-space: nowrap;
}
.slider_sliderContentWrapper__8t9tp {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation-name: slider_slide__ZtEiZ;
  animation-name: slider_slide__ZtEiZ;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.slider_sliderContentWrapper__8t9tp > div {
  display: inline-block;
}
@-webkit-keyframes slider_slide__ZtEiZ {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes slider_slide__ZtEiZ {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}
.testimonials_container__tBn70 {
  width: 100%;
}
.testimonials_testimonials-heading__KnJbZ {
  padding-left: var(--geist-gap);
  padding-right: var(--geist-gap);
}
.testimonials_brands__E_qgQ {
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.dark-theme .testimonials_brands__E_qgQ img,
.dark-theme .testimonials_dynamic__nEosn img {
  filter: invert(1);
}
.testimonials_brands__E_qgQ > .testimonials_wrap__ajJdt {
  display: inline-flex;
  margin: 0 var(--geist-gap-half);
  vertical-align: middle;
  outline: none;
  cursor: default;
}
.testimonials_brandsTablet__jBfle {
  display: none;
}
.testimonials_brandsTablet__jBfle.testimonials_alwaysShow__1DyVE {
  display: block;
}
.testimonials_brandsDesktop__T_Loj > .testimonials_brands__E_qgQ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: calc(100vw - var(--geist-gap-double));
  max-width: 1000px;
}
.testimonials_brandsDesktop__T_Loj
  > .testimonials_brands__E_qgQ
  > .testimonials_wrap__ajJdt {
  margin: 0;
}
.testimonials_brandsDesktop__T_Loj
  > .testimonials_brands__E_qgQ
  + .testimonials_brands__E_qgQ {
  margin-top: var(--geist-gap-double);
}
@media (max-width: 1090px) {
  .testimonials_brandsTablet__jBfle {
    display: block;
  }
  .testimonials_brandsDesktop__T_Loj {
    display: none;
  }
}
