@tailwind base;
@tailwind components;
@tailwind utilities;

html,
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.header-background {
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-between;
  }

  .content-container {
    @apply max-w-content md:px-content;
  }
}
