@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: overlay;
}
html,
a {
  color: inherit;
  text-decoration: none;
}

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

* {
  box-sizing: border-box;
}
.header-background {
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-between;
  }

  .content-container {
    @apply max-w-content md:px-content;
  }
}
