@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap");
@font-face {
  font-family: "S-CoreDream-4Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #1a1a1a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.header-background {
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-between;
  }

  .content-container {
    @apply max-w-content md:px-content;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}
