@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #1a1a1a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.header-background {
  background: url("/header.gif");
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-between;
  }

  .content-container {
    @apply max-w-content md:px-content;
  }
}
